# Backend (Java / Spring)
backend/target/
*.class
*.jar
*.war
*.log

# Frontend (Node)
frontend/node_modules/
node_modules/
frontend/dist/
frontend/.env

# Environment
.env
*.env

# Logs Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

DB_USER=postgres
DB_PASSWORD=sua_senha_supabase
JWT_SECRET=uma_chave_bem_grande_com_256_bits_no_minimo